.contain {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.title {
    font-size: 80px;
}

.bg-light {
    background-color: #1abc9c !important;
}